body {
    margin: 0px;
    padding: 0px;
   }
   section.loader {
    background: #0f1b40;
    width: 100vw;
    height: 100vh;
   }
   .heartbeat-loader-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
   
   #heartbeat-svg {
    animation: glow 3s linear infinite;
   }
   
   #heartbeat-path {
    stroke-dasharray: 2700;
    stroke-dashoffset: 2700;
    animation: beat 3s linear infinite, fade 3s linear infinite;
   }
   
   @keyframes beat {
    0% {
    }
    20% {
     stroke-dashoffset: 2700;
    }
    100% {
     stroke-dashoffset: -2700;
    }
   }
   
   @keyframes fade {
    0% {
     opacity: 0;
    }
   
    20% {
     opacity: 0;
    }
   
    50% {
     opacity: 1;
    }
   
    60% {
     opacity: 1;
    }
   
    100% {
     opacity: 0;
    }
   }
   @keyframes glow {
    0% {
     filter: drop-shadow(0px 0px 0px #ff987b);
    }
   
    50% {
     filter: drop-shadow(0px 0px 5px #ff987b);
    }
   
    100% {
     filter: drop-shadow(0px 0px 0px #ff987b);
    }
   }
   